body{
	color:white;
	text-align: center;
}

span{
	height:60px;
}

.grid_container{
	width: 100%;
	float:left;
}

.span1{
	width:10.5%;
	margin:  0 1%;
	float: left;
}

.span2{
	width:23%;
	margin:  0 1%;
	float: left;

}

.span3{
	width:35.5%;
	margin:  0 1%;
	float: left;
	
}

.span4{
	width:48%;
	margin:  0 1%;
	float: left;
	
}

.span5{
	width:60.5%;
	margin:  0 1%;
	float: left;
	
}

.span6{
	width: 73%;
	margin:  0 1%;
	float: left;
	
}

.span7{
	width: 85.5%;
	margin:  0 1%;
	float: left;
	
}

.span8{
	width:98%;
	margin:  0 1%;
	float:left;
}

.offset1{
	margin-left: 12.5%;

}

.offset2{
	margin-left: 25%;
}

.offset3{
	margin-left: 37.5%;
}

.offset4{
	margin-left: 50%;
}

.offset5{
	margin-left: 62.5%;
}

.offset6{
	margin-left: 75% ;
}

.offset7{
	margin-left: 87.5%;
}

.offset8{
	margin-left: 100%;
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table;
  

}

.clearfix:after{
	clear:both;
}

.clearfix{
	zoom:1;
}

.last{
	margin: 0;
}