.annonce{
	
	background-color: orange;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	@include span(8);
	padding: 10px;

	img {
		float:left;
		
	}
	.conteneur-annonce{
		float: left;
		margin-left: 2%;
	}

	h3.prix{
	color:green;
	display: inline;
	
	}

	.title{
		margin-bottom: 10px;
	}

	.showAnnonce{
		float: right;
		margin-bottom: 10px;
	}
	
}






.extrait-annonce{
	float:left;
	margin-left: 20px;
	p{
	background: #D8D8D8;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
     border-radius: 10px; 
     padding:10px;

	}
	p:before{
		content:"";
 position: absolute;
  bottom: 100%; 
  left: 11%;
   width: 0;
    height: 0;
     border-top: 26px solid transparent; 
     border-right: 13px solid transparent; 
     border-bottom: 13px solid #D8D8D8; 
	}
	width:40%;
	position: relative;
	top:80px;
	
  //position: relative;
   
}
.menu {
	
	li{
	list-style: none;
	background-color: grey;
	
	float:left;
	padding: 10px;

	border-radius: 0px 100px 0px 0px;
	-moz-border-radius: 0px 100px 0px 0px;
	-webkit-border-radius: 0px 100px 0px 0px;
	border: 0px solid #000000;
		a{
			text-decoration: none;
			color:black;
		}
	}
	
}

.filtre{
	margin-left: auto;
	margin-right: auto;
}

input[type=text]{
	height: 30px;
	border-radius: 3px;
	text-align: center;
}




@media screen and (max-width: 630px){
	.AffichageOnlyWeb{
		display: none;
	}



}
@media screen and (min-width:767px){



	#navigation {
		display: none;
	}
	.annonce>img{
		max-width: 260px;
	}
}

@media (max-width: 767px) {

	.extrait-annonce{
		display: none;
	}

	.header-connexion .AffichageOnlyWeb{
		display: none;
	}

	.annonce>img{
		max-width: 30%;
	}

	.header-menu{
		display: none;
	}

	
	[id=navigation] + * {
		position: relative;
	}

	/* Theming opened nav */	
	[id=navigation] ul {		
		
		/* maximum height */
		max-height: 25em;

		/* translate with hardware acceleration */
		-webkit-transform: translateZ(0); 
		-ms-transform: translateZ(0);
		        transform: translateZ(0);
		-webkit-transition: max-height .4s;
		        transition: max-height .4s;

		/* global styles */
		margin: 0;
		padding: 0;
		list-style: none;
	}
	[id=navigation] a {
		display: block;
		padding: 1.2rem;
		color: #333;
		background: #fff;
		text-decoration: none;
		margin-bottom: 2px;
	}
	[id=navigation] a:hover, 
	[id=navigation] a:focus,
	[id=navigation] a:active
	{
		background: #eee;
	}
	
	/* Theming closed nav */
	[id=navigation].is-closed ul {
		max-height: 0;
		overflow: hidden;
	}

	/* Global styling nav button */	
	[id="toggle-nav"] {
		margin-left: 85%;
			top: 1rem; right: 1rem;
		z-index: 1;
		height: 3.5rem; width: 3.5rem;
		background-color: transparent;
		background-image: -webkit-gradient(linear, left top, right top, from(white), to(white)), -webkit-gradient(linear, left top, right top, from(white), to(white)), -webkit-gradient(linear, left top, right top, from(white), to(white));
		background-image: -webkit-linear-gradient(left, white, white), -webkit-linear-gradient(left, white, white), -webkit-linear-gradient(left, white, white);
		background-image: linear-gradient(to right, white, white),
			linear-gradient(to right, white, white),
			linear-gradient(to right, white, white);
		background-position: center top, center, center bottom;
		background-repeat: no-repeat;
		-webkit-background-size: 3.5rem .9rem;
		        background-size: 3.5rem .9rem;
		padding: 0;
		outline: 0;
		border: 0;
		cursor: pointer;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		-webkit-transition: .2s;
		        transition: .2s;
	}
	
	/*  Removing Firefox's dotted outline on button */	
	[id="toggle-nav"]::-moz-focus-inner {
		border: 0;
	}
	
	/* Theming opened nav button */	
	[id=navigation]:not(.is-closed) [id="toggle-nav"] {
		-webkit-transform: rotate(180deg) translateZ(0);
		        transform: rotate(180deg) translateZ(0);
		background-position: center, center, center;
	}
	
	
	/* Hide alternate text except from screen readers */
	.visually-hidden {
		position: absolute !important;
		clip: rect(1px, 1px, 1px, 1px);
		overflow: hidden;
		height: 1px;
		width: 1px;
	}
	
}