/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-size: 16px;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:underline;
	font-style:italic;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/**********************FRAMEWORK********************************/

h1,h2,h3,h4,h5,h6{
	color:black;
	font-weight: bold;
	font-family: "Brush Script MT",cursive,Geneva,Tahoma,Verdana,sans-serif;
}

h1>small,h2>small,h3>small,h4>small,h5>small,h6>small, .sub {/*****il manque la question avec la classe du même effet****/
	font-size: 80%;
	color:grey;

}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-size: 10px;
}

p{ /**heritage du body a definir**/
	margin-bottom: 40px;
}

ins,u{
	text-decoration: underline;
}
em{

}

abbr{
	font-weight: bold;

}

strong{
	font-weight: bold;
}

del{
	text-decoration: line-through;
}

mark{
	background-color: yellow;
}


blockquote{
	font-style: italic;
	margin-bottom: 30px;

    &:before, &:after{
        content: '"';
    font-size: 350%;
    font-style: italic;
    }

}


code{

	background-color: #afd0d6;
	padding: 30px;
	opacity:0.8;

}

pre{

padding: 10px;
background-color: grey;
border-radius: 5px ;
margin-bottom: 50px;
margin-top: 10px;

}

kbd{
	background-color: black;
	color:yellow;
	padding:10px;
	margin: 10px;
	border-radius: 10px
}


/***marche pas **/
ul{
	list-style: upper-roman;

    &.square{
        list-style: square;
    }

    &.noDecoration{
        list-style: none;
    }
}

/**************/


.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.justify{
	text-align: justify;
}

.upper{
	text-transform: uppercase;
}

.lower{
	text-transform: lowercase;
}







