.AffichageOnlyWeb-detail {
	background-color:#E6E6E6;
}
.head-detail {
	background-color:#E6E6E6;
	
	.retour-detail {
		width:100%;
		background-color:#E6E6E6;
		float : left;
		.btn { 
			float : right;
		}
	}
}

.contenue-annonce-detail { 
	background-color : #E6E6E6;
	float:left;
	height : 100%;
	width : 100%;

	.images-detail {
		float : left;
		@include span(2);
		margin-left : 2%;
		
		.grosseImg-detail {
			@include span(6);
		}	
		.petiteImg-detail {
			margin-top : 1%;
			margin-bottom : 1%;
			max-width : 25%;
			
		} 
		
	}
	
	.description-details {
		@include span(4);
		
		float:left;
		
		.descriptionAnnonce-detail {
			padding : 3px;
			border : 1px solid black;
			float : left;
			margin-bottom : 5px;
		}
		
		.info-detail {
			margin-top : 10px;
			@include span(2);
			
			.prix-detail {
				margin : 0px;
				font-size : 1.3em;
				font-weight : bold;
			}
			.numTel-detail {
				margin : 0px;
			}
			
			
		}
		
		.boutons-detail {
			@include span(2);
			float : right;
			
			.btn {
				margin:2px;
			}
		}
	}
}